@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
	font-family: 'Open Sans', sans-serif;
}

img {
	border-radius: 10px;
}

body {
	display:grid;
	grid-template-columns: 1fr 75em 1fr;
}

.yellow-link  {
	text-transform: capitalize;
	color:#e8b923;	
	border-bottom:1px solid #e8b923;
	cursor:pointer;
}

.yellow-link:hover {
	border-bottom:none;	
}

.container {	
	display:flex;
	gap:4em;
	padding:4em;
}

.container > *  {	
	flex-basis:100%;
	flex-grow: 1; 
	flex-shrink: 1;
}

.header {	
	grid-area: header;
	width:100%;
	color:white;
	text-transform: capitalize;
	background: 
		linear-gradient(90deg, rgba(2,0,36,1) 0%,
	 	rgba(0,0,0,0.6643032212885154) 0%),
		url("img/pics/header-background.webp");
	background-size:100%;
	background-repeat: no-repeat;
	background-position: fixed;
	height:45em;
	display:flex;
	flex-direction:column;
	gap: 10em;
}



.header-top {
	display:flex;
	gap:20em;
	justify-content: center;
	align-items: center;
	padding:2em;
	
	
}

.header-top h1 {
	text-transform: uppercase;
	font-size:2.5rem;
	font-weight: normal;
}

.header-bottom p {
	font-weight: bold;
	letter-spacing: .3rem;
}


.header-top nav ul {
	display: flex;

	gap: 3em;
	align-content: center;
}

.current-page  {
	border-bottom: .18rem solid white;
	padding-bottom: 1rem;
}


.header-top nav ul li:hover {
	opacity: 0.7;
	cursor: pointer;
}

.header-top nav ul li:hover , .header-top nav ul li {
	transition: opacity .4s ease;
}

.header-bottom {
	display:flex;
	flex:1;
	flex-direction: column;	
	text-align: center;
	align-items:center;

}

.header-bottom p {
	font-size:3.5rem;
}

.header-bottom a {
	font-size:1rem;
}

.about-company {
grid-area:about-company;
}
   
.ac-top {
border-bottom:1px solid lightgrey;
}
   
.ac-left {
padding:3rem 1.8rem;
background-color: #e8b923;
}
   
.ac-left h1  {
	font-size:3.8rem;
	font-weight:bold;
}
   
.ac-left h2  {
	font-weight:normal;
	font-size:1.8rem;
}
   
   
.ac-left span{	
font-weight:normal;
 font-size:1.5rem;
}
   
   
   
.ac-left a, .ac-right a , .success-stories a ,.form input[type=submit] {
transition:color ease .3s;
transition:background-color ease .3s;
text-transform:uppercase;
font-size:1rem;
color:black;
background-color:white;
padding:.5rem 1.4rem;
letter-spacing:.15rem;
}
   
.ac-left a:hover, .ac-right a:hover,.success-stories a:hover,.form input[type=submit]:hover {
 cursor:pointer;
color:white;
 background-color:black;	
   
}
   
.ac-right p {
font-size:1.1rem;
}
.ac-right a {
background-color: #e8b923;
  color:white;
}
   
.ac-right h1 {
 	font-size:2.8rem;
	font-weight:bold;
}
   
.ac-bottom-block {	   
	   display:flex;
	   flex-direction:row;
	   flex:1;
	   gap:1rem;
}


   
.ac-bottom-block h1 {	
	 font-weight:bold;	
}
.ac-bottom-block img {
	width:8rem;	
	   
}
   
   
.ac-bottom-block p,.ac-bottom-block a{
	 line-height: 2rem;
}
   
   

.blurred-block {
	display:flex;
	justify-content: center;	
	color:white;
	background-size: 100%;
	background-position: center;
}

.blurred-block-content {
	width:75em;
}

.form {
	color:white;
	grid-area:form;
	background: linear-gradient(108deg, 
	rgba(232,185,35,0.7539390756302521) 100%, 
	rgba(232,185,35,0.6306897759103641) 100%),
	url("img/pics/form-background.webp");
}

::placeholder {
	font-style: italic;
	color:white;
	padding:1rem;
}

.form fieldset {
	margin:1rem 0;
	border:1px solid white;
	line-height: 2rem;
}

.form input[type=submit] {
	padding:.35rem 3rem;
	background-color: white;
	color:black;
	text-transform: uppercase;
	font-size:1rem;
	
}

.latest-donations {
	grid-area: latest-donations;	
	display:flex;	
	text-align: center;
	display: flex;
	flex-direction: column;
	padding:2rem;
}

.ld-top {
	font-size:1.2rem;	
	line-height: 3rem;

}
.ld-top h1 {
	font-size:2rem;
	margin:8rem 0 .5rem 0;
}


.latest-donations h1 {
	font-weight: bold;
}

.donator h1{
	font-size:1.25rem;
}

.donator {
	scale: 0.8;
}

.donator img {
	margin:0.5rem;
	
}

.donator h3 {
	text-transform: capitalize;
	color:grey;
}

.donator h2 {
	font-size: 1.15rem;
}

.donator span {	
	color:green;
}

.donator h4 {
	font-weight: bold;
	font-style: italic;
}
.donator h4 a {
	font-weight: normal;

}

.ln-top h1 {
	text-transform: capitalize;
	font-weight: bold;
	font-size:1.7rem;
}

.latest-news {
	padding:4.5em 0;
	grid-area:latest-news;
}

.ln-top {
	padding-left:4em;
}

.ln-block {	
	line-height: 1.7rem;	
}

.ln-block img {
	transition: scale .4s ease;
	border-radius: 0px;
}
.ln-pic {
	display: inline-block;
	overflow: hidden;
}

.ln-block h1 a {
	transition: color .5s ease;
	color:black;
	border-bottom: 0;
	font-weight: bold;	
	text-transform: capitalize;
	
}

.ln-block h1 a:hover {
	color:#e8b923;
	transition: color .5s ease;
	cursor:pointer
}

.ln-block img:hover {
	transition: scale .4s ease;
	scale:1.2;
}



.footer {
	grid-area: footer;
	background-image: url("img/pics/footer-background.jpg");
	color:white;
	
}

.footer-block {
	line-height: 1.8rem;
}

.footer-block h1 {
	text-transform: uppercase;
}

.footer-block p {
	line-height: 1.5rem;
	font-size: 1.2rem;
}

.f-blog-block {
	display: flex;
	margin:1.5rem 0;	
}



.f-blog-block h1  {
	margin:0px;
	font-size: .8rem;
	text-transform: capitalize;
	
}

.f-blog-block h1 a {
	opacity: 1;
}

.f-blog-block h1 a:hover {
	transition: color .5s ease;
	color:#e8b923;
	cursor: pointer;
}

.f-blog-block > * {	
	flex-grow: 1; 
	flex-shrink: 1;
}

.fb-pic {
	flex-basis:20%;
}

.fb-pic img {
	border: 0.3rem solid white;
}

.fb-links {
	margin:0 0 0 0.8rem;
	font-size:0.5rem;
	
}

.fb-links a  {
	align-content: center;
	opacity: 0.5;
}

.fb-links a:hover  {
	cursor: pointer;
	transition: opacity .5s ease;
	opacity: 1;
}

.fb-links a img {
	width:.8rem;
	margin:0px .3rem 0 0 ;
	
}

.fb-links > * {
	font-size:.7rem;
	
	
	margin-right:.8rem;
	
}

.f-contact a {
	color: #e8b923;
}

.f-contact a:hover {
	cursor:pointer;
}

.f-contact  img {
	margin-right:.8rem;
}


.fc-link { 
	display: flex;
	align-items: center;
	margin:0px;
	text-align: start;
}

.fc-link a > * {
	
	margin:0px;
	padding:0px;	
}

.fc-adress {
	align-items: flex-start;	
}

.footer {
	display:flex;
	justify-content: center;		
}

.footer-content {
	width:75em;
}