:root {

	--ff-main: 'Golos Text', sans-serif;
	
	--fs-average: 1rem;
	--fs-small: calc(var(--fs-average)* 0.813 );
	--fs-medium: calc(var(--fs-average) * 1.25);
	--fs-big: calc(var(--fs-average) * 2);
	--fs-large: calc(var(--fs-average) * 3.5);
	--fs-biggest: calc(var(--fs-average) * 4.375);

	--primary-color: black;
	--secondary-color: white;
	--alternative-color: #e8b923;

	--tt-uppercase: uppercase;

	--lh-medium: 1.5em;
	--lh-large: 2em;

	--padding-medium: 4em;

	--gap-normal: 10rem;
	--gap-small: calc(var(--gap-normal) / 2);
	--gap-medium: calc(var(--gap-normal) * 1.4);
	--gap-large: calc(var(--gap-normal) * 2);

	--opacity-medium:.5;
	--opacity-strong: .8;	
}

.fundraisers {
	height: 50em;
	background-color: lightgrey;
}

.success-stories {			
	background: linear-gradient(108deg, 
	rgba(232,185,35,0.7539390756302521) 100%, 
	rgba(232,185,35,0.6306897759103641) 100%),
	url("../../img/pics/stories-background.webp");
}


.success-stories h1 {
	font-size:var(--fs-big);
}

.success-stories img,.form img,.form input[type=submit] {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.success-stories a {	
	font-size: var(--fs-small);
	background-color: green;		
}



.stories-right span,.stories-right h1 {
	font-weight: bold;
}


.stories-right a {
	padding:.8rem 2.5rem;
}


.stories-right p {
	line-height: var(--lh-large);
}

.stories-right p {
	margin-bottom: 1rem;
}


