

.fundraisers {
	grid-area: fundraisers;
	height: 50em;
	background-color: lightgrey;
}

.success-stories {
	grid-area: success-stories;		
	line-height: 2rem;
	background: linear-gradient(108deg, 
	rgba(232,185,35,0.7539390756302521) 100%, 
	rgba(232,185,35,0.6306897759103641) 100%),
	url("../../img/pics/stories-background.webp");
}

.success-stories img,.form img,.form input[type=submit] {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.success-stories a {	
	background-color: green;
	
}



.stories-right span,.stories-right h1 {
	font-weight: bold;
}


.stories-right a {
	padding:.8rem 2.5rem;
}



