body {	    
	grid-template-areas: 
	"header header header"	
	". latest-donations ."	
	"form form form"
	"footer footer footer"
	;
}

.header{
	gap: 14em;
}


.latest-donations {
    padding:8rem 0;
}

.ld-bottom {
    padding:0;
}

.ld-top {
    margin:0 0 3em 0;
}

.ld-top h1 {
	margin:0;
}

