
header {
    background: 
		linear-gradient(90deg, rgba(2,0,36,1) 0%,
	 	rgba(0,0,0,0.6643032212885154) 0%),
		url("../../img/pics/form-background.webp");        
}

.gallery {
    display: flex;
    justify-content: center;
    grid-area: gallery;     
}

.gallery img {   
    width:100vh;
    margin:5em;
}

